#
# mkWebRunInfo.config - Configuration file for the mkWebRunInfo.py script
#
# ------------------------------------------------------------------------
# Version 1.0 - 17 May 2002 - Marco Verzocchi
#               First version, requires mkWebRunInfo.py version 1.9 or later
#               Added global_CalMuon_7.1 trigger
# Version 1.1 - 21 May 2002 - Marco Verzocchi 
#               Added global_CalMuon_7.2 trigger
# Version 1.2 - 03 Jun 2002 - Marco Verzocchi
#               Added global_CalMuon_7.3 trigger
#               Add version p11.07
# 
# ------------------------------------------------------------------------
#
# HTML directory. Corresponds to the web address
# http://www-d0.fnal.gov/phys_id/luminosity/data_access/processing_status/
# 
htmldir		/www-d0/home/WWW/docs/phys_id/luminosity/data_access/processing_status
#
# List of versions of D0 reconstruction software: for each
# version specify the run range corresponding to this version.
# Check the status of processing for this version of the software
# for all the runs corresponding to this range. Runs outside of 
# this range are also included in the web pages if they were 
# processed with this version of the D0 reconstruction code.
# 
recoversion 	p14.06  149874 999999
recoversion 	r14.06  187169 187170
recoversion 	p14.05	151852 177243
recoversion	p14.03  165650 180956
recoversion     p13.06  151817  178310
recoversion	r13.06  165589  169002
recoversion     p13.05  164382  170246
#recoversion     p13.04  149874  999999
#recoversion     p13.03  166000  999999
#recoversion     p13.02  166000  999999
recoversion     p11.13  157708  166782
recoversion     p11.12  164039  165775
recoversion     p11.11  161646  163647
recoversion     p11.10  158973  161648
recoversion     p11.09  157572  160558
recoversion     p11.08  145553  158453
#recoversion     p11.07  198000  999999
#recoversion	p10.15	145041	999999
#recoversion	p10.14	139615	145040
#recoversion	p10.11	139615	145040
#recoversion	p10.07	129194	133020
#recoversion	t01.56	129194	133020
# 
# List of triggers for which dedicated web pages are created
#
trigger 	global_CMT_12.32
trigger		global_CMT_12.30
trigger		global_CMT_12.20
trigger		global_CMT_12.10
trigger		global_CMT_11.04
trigger		global_CMT_11.03
trigger		global_CMT_11.02
trigger		global_CMT_11.00
trigger         global_CMT_10.3
trigger         global_CMT_10.1
trigger         global_CMT_10.0
trigger         global_CMT_9.5
trigger         global_CMT_9.4
trigger         global_CMT_9.3
trigger         global_CMT_9.2
trigger         global_CMT_9.0
trigger         global_CMT_8.4
trigger         global_CMT_8.30
trigger         global_CMT_8.20
trigger         global_CMT_8.10
trigger         global_CMT_8.00
trigger         global_CalMuon_noL2MU_7.4
trigger         global_CalMuon_7.4
trigger         global_CalMuon_7.4
trigger         global_CalMuon_7.3
trigger		global_CalMuon_7.2
trigger		global_CalMuon_7.1
trigger		global_CalMuon_7.0
trigger		global_CalMuon_5.1
trigger		global_CalMuon_5.0
trigger		global_CalMuon_4.2
trigger		global_CalMuon_4.1
trigger		global_CalMuon_4.0
trigger		global_CalMuon_3.4
trigger		global_CalMuon_3.3
trigger		global_CalMuon_3.2
trigger		global_CalMuon_3.1
trigger		global_CalMuon_3.0
trigger		global_CalMuon_2.1
trigger		global_CalMuon_2.0
trigger		global_CalMuon_1.5
trigger		global_CalMuon_1.4
trigger		global_CalMuon_1.3
trigger		global_CalMuon_1.2
trigger		global_CalMuon_1.1
trigger		global_CalMuon_1.0
trigger		cosmics
trigger		min
trigger		zero
trigger		others
